
.header {
  width: 100%;
  text-align: center;
  margin: 0 auto .5rem;

  h1 {
    text-align: center;
    font-size: 2rem; 
    font-weight: 700;;
    letter-spacing: 1.5px;
    color: #56555a;
    margin: 0;
  }
}

.container {
  max-width: 1920px;
  width: 100%;
}

.userInformation {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .box {
    width: 31%;
    background-color: white;
    text-align: center;
    background: #ffffff 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 10px #00000017;

    .box-container {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      height: 100%;
      padding: .5rem 0;
    }

    &.operator {
      background-color: #2c3e50;

      .box-title {
        color: #fff;
      }
      .box-content {
        color: #fff;
      }
    }

    &.shift {
      background-color: #00a1e1;

      .box-title {
        color: #fff;
      }
      .box-content {
        color: #fff;
      }
    }

    img {
      width: 40px;
      height: 40px;
    }

    .box-title {
      margin-bottom: 2px;
      text-align: center;
      font-size: 1rem;
      font-weight: 700;
      letter-spacing: 0.32px;
      color: #6dbcdb;
      margin: 1rem 0 0 0;
    }

    .box-content {
      text-align: left;
      font-size: 1rem;
      text-align: center;
      letter-spacing: 0px;
      color: #56555a;
      margin: 0;
    }
  }
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
}

.material {
  display: flex;
  flex-direction: column;
  width: 100%;

  &-list {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &-item {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      background: #bbbbbb 0% 0% no-repeat padding-box;
      box-shadow: 0px 1px 4px #00000029;

      &.active {
        background-color: #ffa500;
      }
    }
  }

  &-info {
    margin-top: 2rem;
    text-align: center;
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: 0.5px;
    color: #707070;
  }
}

.outage {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;

  button {
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: 0.5px;
    color: #ffffff;
    width: 100%;
    padding: 1rem 0;
    background: #56555a 0% 0% no-repeat padding-box;
    box-shadow: 0px 5px 10px #00000029;
    display: block;
  }
}

.big-box {
  width: 100%;
  height: 100%;
  max-height: calc(100vh - 192px);

  &.mini {
    max-height: calc(50vh - 132px);
  }

  overflow: auto;
  overflow-x: hidden;
  background: #ffffff 0% 0% no-repeat padding-box;
	box-shadow: 0px 0px 5px #00000017;
	margin-bottom: 10px;

  &-title {
    border-bottom: 1px solid #e8e8e8;
    padding: .4rem .3rem;

    display: flex;
    justify-content: space-between;
    align-items: center;

    h2 {
      margin: 0;
      text-align: left;
      font-size: .8rem;
      font-weight: 700;;
      letter-spacing: 0.32px;
      color: #56555a;
    }
  }

  &-content {
    height: calc(100% - 40px);
    overflow: auto;
    overflow-x: hidden;
		padding: .5rem 0;

    .bb-list {
      margin: .5rem;

      li {
        border: 1px solid #707070;
        margin-bottom: 16px;

        &.active {
          .bb {
            background-color: #70ad47;

            &-item {
              background-color: #e7f7dd;
            }
          }
        }
      }
    }

    .actualize-list {
      li {
      }
    }
  }
}

.bb {
  padding-left: .6rem;
  background-color: #bcbcbc;

  &-item {
    padding: .25rem;
    background-color: #f9f9f9;
    border-bottom: 1px solid #e8e8e8;
    border-left: 1px solid #707070;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &-title {
      font-weight: 300;
      font-size: .8rem;
      color: #707070;
    }

    &-content {
      font-weight: 700;
      font-size: .8rem;
      color: #707070;
    }
  }
}

.al {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin: 0 8px;
  border-bottom: 1px solid #ccc;
  padding: 1rem .5rem;

  .al-item {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: .8rem;
  }

  .al-order {
    width: 20%;
    text-align: center;
  }

  .al-progress {
    width: 60%;
    flex-direction: column;

    span {
      font-size: 1rem;
      font-weight: 500;
      color: #56555a;
    }

    .progress {
      width: 100%;
      height: 16px;
      border-radius: 10px;
      background: transparent linear-gradient(0deg, #dee1e2 16%, #d2d2d2 88%) 0% 0% no-repeat padding-box;

      .progress-bar {
        background: transparent linear-gradient(90deg, #00ABD0 0%, #2DB399 100%) 0% 0% no-repeat padding-box;
        width: 40%;
        border-radius: 10px;

        &:after {
          content: '';
          position: relative;
          width: 100%;
          background-size: 16px 100%;
          background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='5.347' height='6.594'%3E%3Cpath d='M2.673 6.594H0L2.673 0h2.673z' fill='%23fff' opacity='.22'/%3E%3C/svg%3E");
          height: 100%;
          background-repeat: repeat;
        }
      }
    }
  }

  .al-number {
    width: 20%;
    justify-content: flex-end;
    font-weight: 700;
    font-size: 1rem;
    color: #56555a;
    text-align: right;
  }
}

.chart-wp {
  max-height: 185px;
}

.chart-area {
	display: flex;
	justify-content: center;
	align-items: center;

	span {
    font-weight: 500;
    font-size: 1rem;
		letter-spacing: 0px;
		color: #77BD1E;
		text-align: center;
	}
	p {
		text-align: left;
    font-weight: 700;
    font-size: .5rem;
    letter-spacing: 0px;
		color: #ACACAC;
		text-align: center;
	} 
}

.bb-info-content {
	padding: .4rem .5rem;

	&-title {
		text-align: center;
		font-size: 1rem;
    font-weight: 700;
		letter-spacing: 0.8px;
		color: #56555A;
	}

	&-info {
		text-align: center;
    font-size: 2rem;
    font-weight: 700;
		letter-spacing: 0.85px;
		color: #7C2124;
	}
}

.button-area {
	width: 70%;
	margin: 1rem auto 0;
	display: block;

	button {
		background: #6DBCDB 0% 0% no-repeat padding-box;
		box-shadow: 0px 3px 6px #00000029;
		text-align: left;
    font-weight: 700;
    font-size: 1rem;
		letter-spacing: 0px;
		color: #FFFFFF;
		opacity: 1;
		padding: .5rem;
		width: 100%;
    text-align: center;
    
    img {
      width: 16px;
      display: inline-block;
      vertical-align: middle;
      margin-left: 2px;
    }
	}
}

.actualize-area {
	width: 70%;
	margin: 36px auto;
	display: block;

	button {
		background: #7C2124 0% 0% no-repeat padding-box;
		box-shadow: 0px 3px 6px #00000029;
		text-align: left;
    font-weight: 700;
    font-size: 1.5rem;
		letter-spacing: 0px;
		color: #FFFFFF;
		opacity: 1;
		padding: 1rem;
		width: 100%;
		text-align: center;
	}
}

.customSection {
  margin-top: 16px;
  max-height: calc(100vh - 182px);
  overflow: hidden;
}