<div class="allProjects">
	<div class="header">
		<button [routerLink]="['']"><mdb-icon fas icon="arrow-left"></mdb-icon>&nbsp;GERİ</button>
		<h3>Fire Sebebini Gir</h3>
		<button [routerLink]="['']" style="opacity: 0;"><mdb-icon fas icon="arrow-left"></mdb-icon>&nbsp;GERİ</button>
	</div>
	<div class="firstSection">
		<button class="waves-light" (click)="basicModal.show()" mdbWavesEffect>FİKSTÜR AYAR HURDASI</button>
		<button class="waves-light" (click)="basicModal.show()" mdbWavesEffect>SUNTA EZİK</button>
		<button class="waves-light" (click)="basicModal.show()" mdbWavesEffect>SUNTA HATASI</button>
		<button class="waves-light" (click)="basicModal.show()" mdbWavesEffect>SUNTA TERS</button>
		<button class="waves-light" (click)="basicModal.show()" mdbWavesEffect>TUTKAL HARİTASI</button>
		<button class="waves-light" (click)="basicModal.show()" mdbWavesEffect>TEMİZLEME HATASI</button>
		<button class="waves-light" (click)="basicModal.show()" mdbWavesEffect>AYAK KONUM HATASI</button>
		<button class="waves-light" (click)="basicModal.show()" mdbWavesEffect>ÇERÇEVE AÇIK</button>
		<button class="waves-light" (click)="basicModal.show()" mdbWavesEffect>TUTKAL HATASI</button>
		<button class="waves-light" (click)="basicModal.show()" mdbWavesEffect>ÇERÇEVE ÇİZİK</button>
		<button class="waves-light" (click)="basicModal.show()" mdbWavesEffect>ENJEKSİYON HATASI</button>
		<button class="waves-light" (click)="basicModal.show()" mdbWavesEffect>AYAKSIZ</button>
		<button class="waves-light" (click)="basicModal.show()" mdbWavesEffect>VAKUMSUZ</button>
		<button class="waves-light" (click)="basicModal.show()" mdbWavesEffect>BOYA HATASI</button>
		<button class="waves-light" (click)="basicModal.show()" mdbWavesEffect>TUTKAL EKSİK</button>
	</div>
</div>

<!--modal-->
<div mdbModal #basicModal="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel"
	aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-body">
				<p class="modal-title w-100 modalP" id="myModalLabel">Seçtiğiniz fire sebebini onaylıyor musunuz?</p>
			</div>
			<div class="modal-footer">
				<button type="button" mdbBtn color="secondary" class="waves-light" aria-label="Close"
					(click)="basicModal.hide()" mdbWavesEffect><i class="fas fa-times"></i>&nbsp;Vazgeç</button>
				<button type="button" [routerLink]="['']" mdbBtn color="primary" class="relative waves-light" mdbWavesEffect><i
						class="fas fa-check"></i>&nbsp;Onayla</button>
			</div>
		</div>
	</div>
</div>