.header a{
    float: left;
}

.header h3{
    text-align: center;
    width: 594px;
    height: 92px;
    text-align: center;
    font: Bold 75px/92px Montserrat;
    letter-spacing: 1.5px;
    width: 100%;
    margin-top: 30px;
}

body{
    margin: 0;
    -webkit-print-color-adjust: exact !important;
    height: 100%;
    background-color: #dbdbdb;
}

.header button{
    width: 168px;
    height: 74px;
    background: #56555A 0% 0% no-repeat padding-box;
    box-shadow: 0px 5px 10px #00000029;
    opacity: 1;
    margin-top: 14px;
    margin-left: 58px;
    text-align: center;
    font: Bold 25px/30px Montserrat;
    letter-spacing: 0.5px;
    color: #FFFFFF;
}
/* 
.boxs, .boxs1, .boxs2, .boxs4, .boxs5, .boxs6, .boxs8, .boxs9, .boxs10, .boxs12, .boxs13, .boxs14,
.boxs16, .boxs17, .boxs18{
    width: 396px;
    height: 200px;
    background: #FFA500 0% 0% no-repeat padding-box;
    box-shadow: 0px 5px 10px #00000029;
    opacity: 1;
    float: left;
    display: flex;
    flex: 1 0 auto;
    flex-direction: column;
    justify-content: center;
    margin-right: 70px;
}

.boxs4, .boxs5, .boxs6,.boxs7,.boxs8, .boxs9, .boxs10,.boxs11,.boxs12, .boxs13, .boxs14, .boxs15,
 .boxs16, .boxs17, .boxs18, .boxs19, .boxs20, .boxs21{
margin-top: 70px;
}

.boxs3, .boxs7, .boxs11, .boxs15, .boxs19{
    width: 396px;
    height: 200px;
    background: #FFA500 0% 0% no-repeat padding-box;
    box-shadow: 0px 5px 10px #00000029;
    opacity: 1;
    float: left;
    display: flex;
    flex: 1 0 auto;
    flex-direction: column;
    justify-content: center;
}

.boxs p, .boxs1 p, .boxs2 p, .boxs3 p,.boxs4 p, .boxs5 p, .boxs6 p, .boxs7 p,.boxs8 p,
 .boxs9 p, .boxs10 p, .boxs11 p,.boxs12 p, .boxs13 p, .boxs14 p, .boxs15 p,
 .boxs16 p, .boxs17 p, .boxs18 p, .boxs19 p, .boxs20 p, .boxs21 p{
    width: 388px;
    height: 74px;
    text-align: center;
    font: Bold 30px/37px Montserrat;
    letter-spacing: 0.6px;
    color: #FFFFFF;
    opacity: 1;
}

.firstSection{
    width: 100%;
    margin: 0 auto;
    max-width: 1800px;
    height: 120vh;
    margin-top: 50px;
} */


.firstSection {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    .waves-light {
        background: #FFA500 0% 0% no-repeat padding-box;
        box-shadow: 0px 5px 10px #00000029;
        height: 200px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex: 1 0 30%;
        margin: 0 1% 2%;

        p {
            text-align: center;
            font: Bold 30px/37px Montserrat;
            letter-spacing: 0.6px;
            color: #FFFFFF;
        }
    }
}

.modal-footer{
    border: none !important;
    margin: 0 auto;
}

.btn-primary {
    background-color: #77BD1E !important;
    font-size: 23px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

.btn-secondary {
    background-color: #7C2124 !important;
    font-size: 23px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

.modalP{
    text-align: center;
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    color: #707070;
}