<div class="allProjects">
	<div class="header">
		<button [routerLink]="['']">
			<mdb-icon fas icon="arrow-left"></mdb-icon>&nbsp;GERİ
		</button>
		<h3>Duruş Sebebini Gir</h3>
		<button [routerLink]="['']" style="opacity: 0;">
			<mdb-icon fas icon="arrow-left"></mdb-icon>&nbsp;GERİ
		</button>
	</div>
	<div class="firstSection">
		<div class="waves-light" (click)="basicModal.show()" mdbWavesEffect>ACİL DURUŞ D-1</div>
		<div class="waves-light" (click)="basicModal.show()" mdbWavesEffect>EĞİTİM D-9</div>
		<div class="waves-light" (click)="basicModal.show()" mdbWavesEffect>MALZEME HAZIRLIK D-15</div>
		<div class="waves-light" (click)="basicModal.show()" mdbWavesEffect>YAPIŞTIRICI AYARI D-21</div>
		<div class="waves-light" (click)="basicModal.show()" mdbWavesEffect>AYAK BASKI ARIZA D-2</div>
		<div class="waves-light" (click)="basicModal.show()" mdbWavesEffect>ELEKTRİK ARIZASI D-10</div>
		<div class="waves-light" (click)="basicModal.show()" mdbWavesEffect>MALZEME YOK D-16</div>
		<div class="waves-light" (click)="basicModal.show()" mdbWavesEffect>YENİDEN İŞLEM D-22</div>
		<div class="waves-light" (click)="basicModal.show()" mdbWavesEffect>AYAK BASKI AYAR D-3</div>
		<div class="waves-light" (click)="basicModal.show()" mdbWavesEffect>FİKSTÜR AYAR D-11</div>
		<div class="waves-light" (click)="basicModal.show()" mdbWavesEffect>PERSONEL YOK D-17</div>
		<div class="waves-light" (click)="basicModal.show()" mdbWavesEffect>ÜRÜN ALMA VE KONVEYÖR ARIZA D-23</div>
		<div class="waves-light" (click)="basicModal.show()" mdbWavesEffect>BAKIM D-4</div>
		<div class="waves-light" (click)="basicModal.show()" mdbWavesEffect>GENEL TEMİZLİK D-12</div>
		<div class="waves-light" (click)="basicModal.show()" mdbWavesEffect>ROBOT ARIZA D-18</div>
		<div class="waves-light" (click)="basicModal.show()" mdbWavesEffect>SUNTA HÜCRESİ ARIZA D-24</div>
		<div class="waves-light" (click)="basicModal.show()" mdbWavesEffect>BOŞ DURMA D-7</div>
		<div class="waves-light" (click)="basicModal.show()" mdbWavesEffect>KALİTE ONAY BEKLEME D-13</div>
		<div class="waves-light" (click)="basicModal.show()" mdbWavesEffect>TUTKAL SİSTEMİ ARIZA D-19</div>
		<div class="waves-light" (click)="basicModal.show()" mdbWavesEffect>DENEME VEYA NUMUNE ÜRETİM D-8</div>
		<div class="waves-light" (click)="basicModal.show()" mdbWavesEffect>KALİTE PROBLEMİ D-14</div>
		<div class="waves-light" (click)="basicModal.show()" mdbWavesEffect>ÜRÜN DÖNÜŞÜ D-20</div>
	</div>
</div>

<!--modal-->
<div mdbModal #basicModal="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel"
	aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-body">
				<p class="modal-title w-100 modalP" id="myModalLabel">Seçtiğiniz duruş sebebini onaylıyor musunuz?</p>
			</div>
			<div class="modal-footer">
				<button type="button" mdbBtn color="secondary" class="waves-light" aria-label="Close"
					(click)="basicModal.hide()" mdbWavesEffect><i class="fas fa-times"></i>&nbsp;Vazgeç</button>
				<button type="button" [routerLink]="['']" mdbBtn color="primary" class="relative waves-light" mdbWavesEffect><i
						class="fas fa-check"></i>&nbsp;Onayla</button>
			</div>
		</div>
	</div>
</div>